<?xml version="1.0"?>

<config>
    <modules>
        <Wax_Design>
            <version>1.0.0</version>
        </Wax_Design>
    </modules>
    <global>
        <blocks>
            <wax_design>
                <class>Wax_Design_Block</class>
            </wax_design>
        </blocks>
        <helpers>
            <wax_design>
                <class>Wax_Design_Helper</class>
            </wax_design>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Wax_Design>
                    <files>
                        <default>Wax_Design.csv</default>
                    </files>
                </Wax_Design>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Wax_Design>
                    <files>
                        <default>Wax_Design.csv</default>
                    </files>
                </Wax_Design>
            </modules>
        </translate>
    </adminhtml>
</config>