<?xml version="1.0"?>

<config>
    <modules>
        <Wax_Horizon>
            <version>1.0.0</version>
        </Wax_Horizon>
    </modules>
    <global>
        <blocks>
            <wax_horizon>
                <class>Wax_Horizon_Block</class>
            </wax_horizon>
        </blocks>
        <helpers>
            <wax_horizon>
                <class>Wax_Horizon_Helper</class>
            </wax_horizon>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <wax_horizon>
                    <file>wax_horizon/wax_horizon.xml</file>
                </wax_horizon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wax_Horizon>
                    <files>
                        <default>Wax_Horizon.csv</default>
                    </files>
                </Wax_Horizon>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Wax_Horizon>
                    <files>
                        <default>Wax_Horizon.csv</default>
                    </files>
                </Wax_Horizon>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wax_horizon>
            <message>
                <display_message>1</display_message>
                <message_content>You can change this message in System > Configuration > Wax - Horizon > Messages.</message_content>
            </message>
        </wax_horizon>
    </default>
</config>
